.App {
  text-align: center;
}


@font-face {
  src: url('./font/hp-font.ttf');
  font-family: hp;
}

.App-header {
  font-family: hp;
  background-image: url('./images/home.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 60px;
}

/* .button {
  
} */



