*{
  box-sizing: content-box;
}

.Ravenclaw {
    text-align: center;
    font-family: hp;
    background-image: url('./images/ravenclaw.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 55px;
}

.characters-r {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  margin: 5 auto;
  max-width: 1200px;
  margin-top: 0px;
  margin-bottom: 5px;
}

.card-r {
  border: 5px solid lightgray;
  border-radius: 1rem;
  display: grid;
  grid-template-rows: 2fr 1fr;
  overflow: hidden;
  text-align: center;
}

.card-image-r {
  align-items: center;
  display: flex;
  justify-content: center;
}

.card-title-r {
  background-color: rgb(27, 27, 95);
  color: white;
  border-radius: 0 0 1rem 1rem;
  margin: 0;
  padding: 1rem;
  text-align: center;
}

.polyjuice{
  font-size: 40px;
}
.go-home{
  font-size: 40px;
}
  
  
  @font-face {
    src: url('./font/hp-font.ttf');
    font-family: hp;
  }