.Slytherin {
    text-align: center;
  font-family: hp;
    background-image: url('./images/slytherin.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 55px;
}

.characters-s {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(250px, auto);
  grid-gap: 1rem;
  margin: 5 auto;
  max-width: 1200px;
  padding: 1rem;
}

.card-s {
  border: 5px solid lightgray;
  border-radius: 1rem;
  display: grid;
  grid-template-rows: 2fr 1fr;
}

.card-image-s {
  align-items: center;
  display: flex;
  justify-content: center;
}
.card-title-s {
  background-color: rgb(15, 59, 15);
  color: white;
  border-radius: 0 0 1rem 1rem;
  margin: 0;
  padding: 1rem;
  text-align: center;
}

.polyjuice{
  font-size: 40px;
}

.go-home{
  font-size: 40px;
}
  
  @font-face {
    src: url('./font/hp-font.ttf');
    font-family: hp;
  }